# virtual environments
Pipfile
Pipfile.lock

# testing
test/

# fastf1 caching
fastf1_cache/

# data
data/

# airflow
airflow/logs/
airflow/.env
airflow/dags/__pycache__/
airflow/pg_init_scripts/create_tables.sql